body {
  background-color: #787878;
}

.container_1 {
  width: 100%;
  height: auto;
  margin: 0%;
  padding: 0 50px;
  background-color: #fff;
}

a {
  font-family: "Exo 2", sans-serif;
}

br {
  content: " ";
  margin: 5%;
  display: block;
}

#textbox-search:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
}


#box-search {
  padding: 10% 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  line-height: auto;
}

.navbar-brand {
  font-size: 2.5rem;
  display: inline-block;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-right: 0%;
}

.navbar-light .navbar-brand {
  color: rgba(255, 255, 255);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: rgb(0, 0, 0);
}

.adsi-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 23px 10px 24px;
  border: 0 solid #b7b7b7;
  border-bottom-width: 1px;
  -webkit-border-radius: 53px;
  border-radius: 53px;
  font: normal 16px / normal "Exo 2", sans-serif;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
}


.btn-rounded {
  background: #ec7c38;
  border: 1px solid rgba(145, 59, 10, 1);
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  font: normal 16px / normal "Exo 2", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  text-align: center;
  text-decoration: none;
}

.btn-rounded:hover {
  background-color: #fff;
  color: black;
  border: 2px solid #EC7C38;
}

/* .botton_css {
  
} */

/* ExtraSmall devices (landscape phones, 544px and up) */

@media (min-width: 0px) {
  h2 {
    font-size: 1.2rem;
  }
}

/* Small devices (landscape phones, 544px and up) */

@media (min-width: 544px) {
  h2 {
    font-size: 1.4rem;
  }

  .table {
    width: 88%;
    float: none;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  .table {
    width: 88%;
    float: none;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  h2 {
    font-size: 2rem;
  }

  .table {
    width: 88%;
    float: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }

  .table {
    width: 88%;
    float: none;
  }
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 29px;
  margin-bottom: 12px;
  padding-top: 10px;
  cursor: pointer;
  font-size: 15px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 10px;
  left: 0;
  height: 30px;
  width: 31px;
  background: #ffffff;
}

.control-radio .control_indicator {
  border-radius: undefined;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
  background: #ffffff;
}

.control input:checked~.control_indicator {
  background: #2aa1c0;
}

.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}

.control input:checked~.control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 11px;
  top: 6px;
  width: 4px;
  height: 11px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
  border-color: #ffffff;
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 39px;
  margin-bottom: 16px;
  padding-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: center;
  top: 1px;
  bottom: 1px;
  right: 1px;
  left: 8px;

  background: #e6e6e6;
}

.control-radio .control_indicator {
  border-radius: undefined;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
  background: #ffffff;
}

.control input:checked~.control_indicator {
  background: #2aa1c0;
}

.control input:disabled~.control_indicator {
  background: #ffffff;
  opacity: 21;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}

.control input:checked~.control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 13px;
  top: 5px;
  width: 4px;
  height: 15px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
  border-color: #ffffff;
}

.navbar-derecho {
  background-color: #EC7C38;
  height: 11rem;
  padding-top: 10px;
  margin-top: 20px;
}

.dropdown-content a:hover {
  background-color: #EC7C38
}

.button:hover {
  background-color: #EC7C38
}