<head>
	<title>Recuperar contraseña</title>
</head>

<div class="container container_1">
	<div class="row">
		<div class="col-md-12 d-flex justify-content-center" style="padding-top: 5%;">
			<h2 class="text-center">RECUPERAR CONTRASEÑA</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<center>
				<form method="POST" action="../controlador/validar.php" class="form-signin">
				<div class="row col-md-6 justify-content-center" id="box-search">
					<h5>Correo electronico</h5>
					<br>
					<input type="email" class="adsi-css" style="width:70%; height:10%" name="Documento" placeholder="ejemplo@e-mail.com" required/>
					<br>
					<button class="botton_css" type="submit" class="botonlg" style="width:15%" >Enviar</button>
					<br>
				</form>
				</div>
			</center>
		</div>
	</div>
</div>