<head>
	<title>Disponibilidad</title>
</head>






<script>
	var horasRestantes = 0;
	var horasACumplir;

	$(document).ready(function () {
		$("#borrar_disponibilidad").hide();
		//Obten la data de los profesores al cargar la pagina 
		$.post("../controller/disponibilidad.php", {
			operacion: "read"
		}, function (data) {
			$("#selector_profesores").html(data);
		});

		$("#selector_profesores").change(function () {
			$("#selector_profesores").each(function () {
				if ($("#selector_profesores option:selected").val() != 0) {
					var cedula = $("#selector_profesores option:selected").val();
					$.post('../controller/disponibilidad.php', {
						cedula: cedula
					}, function (data) {
						limpiarCeldas();
						var datos = $.parseJSON(data);
						horasACumplir = datos.horas_a_cumplir;
						if (datos.numero_registros == 0) {
							horasRestantes = horasACumplir;
						} else {
							horasRestantes = 0;
							$("#borrar_disponibilidad").show();
							llenarCeldas(datos.registros);
						}
						$("#horas_a_cumplir").val(horasACumplir);
						$("#horas_restantes").val(horasRestantes);
					});
				} else {
					limpiarCeldas();
				}
			});
		});

		//Si el selector esta en una option diferente a la default, se permite el cambio
		//de color de las celdas al hacer click y se actualizan las horas_restantes
		$("td").click(function () {
			if ($("#selector_profesores option:selected").val() != 0) {
				var atributo = $(this).css("background-color");
				if ($(this).attr("bgcolor") == "#fff" || $(this).attr("bgcolor") == "#057D97") {
					if (horasRestantes > 0) {
						$(this).attr("bgcolor", "#5cb85c");
						horasRestantes--;
					}
				} else {
					$(this).attr("bgcolor", "#fff");
					horasRestantes++;
				}
				$("#horas_restantes").val(horasRestantes);
			}
		});

		//Cambia el color cuando pasas el mouse encima de una celda o sales de ella,
		//si y solo si la option del select es diferente a la default	
		$("td").mouseover(function () {
			if ($("#selector_profesores option:selected").val() != 0) {
				if ($(this).attr("bgcolor") != "#5cb85c") {
					$(this).attr("bgcolor", "#057D97");
				}
			}
		});
		$("td").mouseout(function () {
			if ($("#selector_profesores option:selected").val() != 0) {
				if ($(this).attr("bgcolor") != "#5cb85c") {
					$(this).attr("bgcolor", "#fff");
				}
			}
		});
	});

	//Coloca las celdas de color blanco, puesto que inicialmente son transparentes 
	//y limpia los campos deshabilitados
	function limpiarCeldas() {
		$("#tabla_horario tbody tr td").attr("bgcolor", "#fff");
		$("#horas_a_cumplir").val("");
		$("#horas_restantes").val("");
		$("#borrar_disponibilidad").hide();
	}

	//Esta funcion es llamada al presionar el boton de guardar
	function cargarDisponibilidad() {
		if (horasRestantes == 0 && $("#selector_profesores option:selected").val() != 0) {
			var data = codificarData();
			if (!validarData(data)) {
				alert("Un dia contiene menos de 2 horas academicas consecutivas");
			} else {
				var cedula = $("#selector_profesores option:selected").val();
				$.post('../controller/disponibilidad.php', {
					operacion: 'create_update',
					cedula: cedula,
					data: data
				}, function (data) {
					alert("Guardado con exito");
					location.reload();
				});
			}
		} else if ($("#selector_profesores option:selected").val() == 0) {
			alert("No has seleccionado a un profesor");
		} else {
			alert("No has asignado todas tus horas requeridas");
		}
		return;
	}

	//Esta funcion recoge la data seleccionada por el usuario y devuelve un array
	function codificarData() {
		var arrayData = [];
		var tabla = document.getElementById("tabla_horario");
		for (var j = 1; j < 7; j++) {
			for (var i = 1; i < 13; i++) {
				if (tabla.rows[i].cells[j].getAttribute("bgcolor") == "#5cb85c") {
					arrayData.push(i + "," + j);
				}
			}
		}
		return arrayData;
	}

	//Esta funcion valida que hayan minimo 2 horas academicas seguidas en un dia
	//Recibe como parametro un array que contiene los datos de los dias-horas seleccionados
	function validarData(data) {
		var indexA, indexB, indexC, i, j, k, coincidenciasMinimas;
		var arrayCoincidencias = [];
		for (j = 1; j < 7; j++) {
			var coincidencias = 0;
			var coincidenciasObtenidas = 0;
			for (i = 1; i < 13; i++) {
				indexA = i + "," + j;
				for (k = 0; k <= data.length; k++) {
					if (data[k] == indexA) {
						coincidencias++;
						break;
					}
				}
			}
			//El chiste aca es que coincidencias llegue a 0, si no lo hace es porque
			//no se cumple que hayan 2 hrs academicas consecutivas
			//Para validar pregunto por la fila en la q me encuentro y la siguiente,
			//si ambas estan seleccionadas resto 2 e incremento la fila para poder
			//preguntar por las 2 siguientes. Sino se cumple esa condicion, preg. si la celda
			//anterior esta seleccionada y si k>0 entonces resto 1. Este caso ocurre solo cuando
			//tienes mas de 3 celdas seguidas seleccionadas y la 4ta no lo esta
			for (i = 1; i <= 12; i++) {
				indexA = i + "," + j;
				indexB = (i + 1) + "," + j;
				indexC = (i - 1) + "," + j;
				for (k = 0; k < data.length; k++) {
					if (data[k] == indexA && data[k + 1] == indexB) {
						coincidencias -= 2;
						i++;
						break;
					} else if (data[k - 1] == indexC && data[k] == indexA && k > 0) {
						coincidencias -= 1;
					}
				}
			}
			if (coincidencias != 0) {
				return false;
			}
		}
		return true;
	}

	//Esta funcion llena las celdas cuando existe algun registro guardado en la tabla
	//disponibilidad_profesores. Recibe un conjunto de registros equivalentes a lo 
	//encontrado en la DB
	function llenarCeldas(datos) {
		for (var k = 0; k < Object.keys(datos).length; k++) {
			var tabla = document.getElementById("tabla_horario");
			for (var j = 1; j < 7; j++) {
				for (var i = 1; i < 13; i++) {
					if (datos[k].id_dia == j && datos[k].id_hora_inicio == i) {
						for (var t = i; t < datos[k].id_hora_fin; t++) {
							tabla.rows[t].cells[j].setAttribute("bgcolor", "#5cb85c");
						}
					}
				}
			}
			//console.log("Dia:"+datos[i].id_dia+",hora_inicio:"+datos[i].id_hora_inicio+",hora_fin:"+datos[i].id_hora_fin);
		}
		return;
	}

	//Notese que no puedo llamar directamente a mi funcion cargarDisponibilidad,
	//en cambio debe primero llamar a una jQuery
	$("#cargar_disponibilidad").click(function () {
		cargarDisponibilidad();
	});

	//Esto se ejecuta solo si la persona seleccionada cuenta con disponibilidad 
	//previamente almacenada y borra dicha disponibilidad
	$("#borrar_disponibilidad").click(function () {
		var cedula = $("#selector_profesores option:selected").val();
		$.post('../controller/disponibilidad.php', {
			operacion: 'delete',
			cedula: cedula
		}, function (data) {
			alert("Borrado exitoso");
			location.reload();
		});
	});
</script>





<div class="container container_1">
	<div class="row">
		<div class="row">
			<div class="col-md-4">
				<script type="text/javascript">
					toastr.warning(
						'Tener presente que la infomación aquí diligenciada deberá ser debidamente soportada cuando sea requerida por la Coordinación Académica',
						'AVISO')
				</script>
			</div>
		</div>
		<div class="col-md-12 d-flex justify-content-center" style="padding-top: 5%;">
			<h2 class="text-center">Disponibilidad Horaria</h2>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<h4 class="text-center mb-1">Instructor: Sandra Martinez</h4>
				<hr>
				<div class="mx-auto">
					<table class="table table-responsive table-hover table-condensed" id="tabla_horario">
						<thead>
							<tr class="success">
								<th class="col-sm-2 text-center">Hora</th>
								<th class="text-center">Lunes</th>
								<th class="text-center">Martes</th>
								<th class="text-center">Miercoles</th>
								<th class="text-center">Jueves</th>
								<th class="text-center">Viernes</th>
								<th class="text-center">Sabado</th>
								<th class="text-center">Domingo</th>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr>
								<td class="">6:00 a 10:00</td>
								<td>
										<div class="control-group ">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group ">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
							</tr>
							<tr>
								<td class="">10:00 a 14:00</td>
								<td>
										<div class="control-group ">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group ">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
							</tr>
							<tr>
								<td class="">14:00 a 18:00</td>
								<td>
										<div class="control-group ">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group ">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control control-checkbox">
												<input type="checkbox" />
												<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
											</label>
										</div>
									</td>
							</tr>
							<tr>
								<td class="">22:00 a 6:00</td>
								<td>
									<div class="control-group ">
										<label class="control control-checkbox">
											<input type="checkbox" />
											<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
										</label>
									</div>
								</td>
								<td>
									<div class="control-group">
										<label class="control control-checkbox">
											<input type="checkbox" />
											<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
										</label>
									</div>
								</td>
								<td>
									<div class="control-group ">
										<label class="control control-checkbox">
											<input type="checkbox" />
											<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
										</label>
									</div>
								</td>
								<td>
									<div class="control-group">
										<label class="control control-checkbox">
											<input type="checkbox" />
											<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
										</label>
									</div>
								</td>
								<td>
									<div class="control-group">
										<label class="control control-checkbox">
											<input type="checkbox" />
											<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
										</label>
									</div>
								</td>
								<td>
									<div class="control-group">
										<label class="control control-checkbox">
											<input type="checkbox" />
											<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
										</label>
									</div>
								</td>
								<td>
									<div class="control-group">
										<label class="control control-checkbox">
											<input type="checkbox" />
											<div class="control_indicator" name="test1" id="test1" value="checkedValue"></div>
										</label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-12">
				<h3 class="text-center">PROGRAMA DE FORMACIÓN: Tecnologo en análisis y desarrollo de sistemas de información
					(Código: 228106). V 102</h3>
				<hr>
				<table class="table table-responsive table-hover">
					<thead>
						<tr class="text-center">
							<th>COMPETENCIA TÉCNICA</th>
							<th>RESULTADOS DE APRENDIZAJE</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="5">ANALIZAR LOS REQUISITOS DEL CLIENTE PARA CONSTRUIR EL SISTEMA DE INFORMACION.</td>
							<td>
								CONSTRUIR EL MODELO CONCEPTUAL DEL MACROSISTEMA FRENTE A LOSREQUERIMIENTOS DEL CLIENTE, MEDIANTE EL USO E
								INTERPRETACIÓN
								DE LAINFORMACIÓN LEVANTADA, REPRESENTADO EN DIAGRAMAS DE CLASE, DEINTERACCIÓN, COLABORACIÓN Y CONTRATOS DE
								OPERACIÓN,
								DE ACUERDO CON LAS DIFERENTES SECUENCIAS, FASES Y PROCEDIMIENTOS DEL SISTEMA.
							</td>
						<tr>
							<td>VALORAR LA INCIDENCIA DE LOS DATOS EN LOS PROCESOS DEL MACROSISTEMA,TOMANDO COMO REFERENTE EL DICCIONARIO DE
								DATOS
								Y LASMINIESPECIFICACIONES, PARA LA CONSOLIDACIÓN DE LOS DATOS QUE INTERVIENEN,DE ACUERDO CON PARÁMETROS
								ESTABLECIDOS.
							</td>
						</tr>
						<tr>
							<td>
								REPRESENTA EL BOSQUEJO DE LA SOLUCIÓN AL PROBLEMA PRESENTADO POR ELCLIENTE, MEDIANTE LA ELABORACIÓN DE
								DIAGRAMAS DE CASOS
								DE USO, APOYADOEN EL ANÁLISIS DEL INFORME DE REQUERIMIENTOS, AL CONFRONTAR LA SITUACIÓN PROBLEMICA CON EL
								USUARIO
								SEGÚN NORMAS Y PROTOCOLOS DE LA ORGANIZACIÓN
							</td>
						</tr>
						<td>
							INTERPRETAR EL INFORME DE REQUERIMIENTOS, PARA DETERMINAR LASNECESIDADES TECNOLÓGICAS EN EL MANEJO DE LA
							INFORMACIÓN, DE
							ACUERDOCON LAS NORMAS Y PROTOCOLOS ESTABLECIDOS EN LA EMPRESA
						</td>
						</tr>
						<tr>
							<td>
								ELABORAR EL INFORME DE LOS RESULTADOS DEL ANÁLISIS DEL SISTEMA DEINFORMACIÓN, DE ACUERDO CON LOS REQUERIMIENTOS
								DEL CLIENTE
								SEGÚNNORMAS Y PROTOCOLOS ESTABLECIDOS.
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="ModalCenter" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	    aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<center>
							<h3 class="modal-title" id="exampleModalLongTitle">Agregar Titulo</h3>
						</center>
					</div>
				</div>
				<div class="modal-body">
					<center>
						<form method="POST" action="../controlador/validar.php" class="form-signin">
							<h5>Nivel</h5>
							<select class="adsi-css" style="width:80%; height:30px" name="Nivel" placeholder="Nivel" required>
								<option value="">Nivel</option>
								<option>Cursos complementario: Manejo de Blackboard</option>
								<option>Cursos complementario: Pedagogía SENA</option>
								<option>Cursos complementario: Trabajo seguro en alturas</option>
								<option>Certificación de Competencia Laboral</option>
								<option>TÉCNICO</option>
								<option>TECNÓLOGO</option>
								<option>ESPECIALIZACIÓN TECNOLÓGICA</option>
								<option>PREGRADO</option>
								<option>ESPECIALIZACIÓN</option>
								<option>MAESTRÍA</option>
								<option>DOCTORADO</option>
							</select>
							<br>
							<br>
							<h5>Nombre del titulo</h5>
							<input type="text" class="adsi-css" style="width:80%; height:30px" name="Titulo" placeholder="Titulo" required>
							<br>
							<br>
							<button class="botton_css" type="submit" class="botonlg" style="width:180px">Ingresar</button>
						</form>
					</center>
				</div>
				<div class="modal-body">

				</div>
			</div>
		</div>
	</div>
</div>