
    <section class="container bg-light">
        <div class="row">
            <div class="navbar-derecho col-lg-2 col-md-4 col-12 ">
                <div class="nav flex-column active">
                    <a class="btn btn-outline-light " href="index.php?c=lider&m=lider">Asignar Horarios</a>
                    <a class="btn dropdown-toggle btn-outline-light " href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Administrar</a>
                    <div class="dropdown-menu dropdown-content">
                        <a class="dropdown-item" href="index.php?c=lider&m=programas">Administrar programas de
                            formación</a>
                        <a class="dropdown-item" href="index.php?c=lider&m=TrimestresPrograma">Administrar trimestres
                            de programas de
                            formación</a>
                        <a class="dropdown-item" href="index.php?c=lider&m=competencias">Administrar competencias de
                            programas de
                            formación</a>
                        <a class="dropdown-item" href="index.php?c=lider&m=jornadas">Administrar jornadas de formación</a>
                    </div>
                    <a class="btn btn-outline-light" href="index.php?c=lider&m=fichas">Fichas</a>
                    <a class="btn btn-outline-light" href="index.php?c=lider&m=fusionar">fusionar</a>
                    <a class="btn btn-outline-light" href="#" onclick="swal('Correcto','Datos guardados con exito','success')">Asignar</a>
                </div>
            </div>
            <div class="col-lg-10 col-md-8 col-12">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <br>
                        <h4 class="text-center mb-1">Administrar Fichas de programas de formación</h4>
                        <hr>
                        <div data-toggle="modal" data-target="#Agregar_Ficha" class=" text-center">
                            <input type="button" value="Agregar Nueva Ficha" class="btn-rounded">
                        </div>
                        <div data-toggle="modal" data-target="#Agregar_Grupo" class=" text-center">
                            <input type="button" value="Agregar Nuevo Grupo" class="btn-rounded">
                        </div>
                        <div data-toggle="modal" data-target="#Fusionar" class=" text-center">
                            <input type="button" value="Fusionar" class="btn-rounded">
                        </div>
                        <br>
                        <div class="row d-flex justify-content-center">
                            <table class="col-lg-9 table table-responsive table-hover table-condensed" id="tabla_horario">
                                <thead>
                                    <tr class="success">
                                        <th class="col-sm-1 ">Ficha</th>
                                        <th>Grupo</th>
                                        <th class="">Estado</th>
                                        <th class="text-center">Actualizar</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <tr>
                                        <td class="">1320652</td>
                                        <td>G1</td>
                                        <td style="
									padding-bottom: 0px;
									padding-top: 10px;">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                    id="1" checked>
                                                <label class="onoffswitch-label" for="1"></label>
                                            </div>
                                        </td>
                                        <td style="
									padding-bottom: 0px;
									padding-top: 10px;">
                                            <div data-toggle="modal" data-target="#Actualizar">
                                                <i class="far fa-edit fa-2x"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">8794512</td>
                                        <td>G2</td>
                                        <td style="
									padding-bottom: 0px;
									padding-top: 10px;">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                    id="2" checked>
                                                <label class="onoffswitch-label" for="2"></label>
                                            </div>
                                        </td>
                                        <td style="
									padding-bottom: 0px;
									padding-top: 10px;">
                                            <div data-toggle="modal" data-target="#Actualizar">
                                                <i class="far fa-edit fa-2x"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">5649895</td>
                                        <td>G3</td>
                                        <td style="
									padding-bottom: 0px;
									padding-top: 10px;">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                    id="myonoffswitch" checked>
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </td>
                                        <td style="
									padding-bottom: 0px;
									padding-top: 10px;">
                                            <div data-toggle="modal" data-target="#Actualizar">
                                                <i class="far fa-edit fa-2x"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">7894152</td>
                                        <td>G1</td>
                                        <td style="
									padding-bottom: 0px;
									padding-top: 10px;">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                    id="myonoffswitch" checked>
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </td>
                                        <td style="
									padding-bottom: 0px;
									padding-top: 10px;">
                                            <div data-toggle="modal" data-target="#Actualizar">
                                                <i class="far fa-edit fa-2x"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </section>