<!-- BODY -->
<div id="bloque" class="container">

  <!-- HEADER -->

  <!-- IMG HEADER -->
  <div id="head-img" class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center bg-light">
        <img class="img-fluid" src="./assets/images/Plantilla_Blog_naranjaceet.png" alt="Imagen de SENA SCEHDUS EN CEET">
      </div>
    </div>
  </div>
  <!-- END IMG HEADER -->

  <!-- NAVBAR -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color:#EC7C38;">
    <div class="container">
      <h1>
        <a class="navbar-brand" href="#">
          SCHEDUS
        </a>
      </h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-12 col-md-10" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="btn btn-outline-light my-2 my-sm-0" href="index.php">Inicio</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li>
            <a class="btn btn-outline-light my-2 my-sm-0" href="#" data-toggle="modal" data-target="#exampleModalCenter">Iniciar
              sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title text-center" id="exampleModalLongTitle">Iniciar sesion</h3>
          </div>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center text-center">
            <form method="post" action="?c=Usuario&m=ValidarUsuario" class="form-signin">
              <h5>Numero de Documento</h5>
              <input type="number" class="adsi-css" style="width:80%; height:30px" name="dni" placeholder="Documento"
                required />
              <br>
              <br>
              <h5>Contraseña</h5>
              <input type="password" class="adsi-css" style="width:80%; height:30px" name="password" placeholder="Contraseña"
                required>
              <br>
              <br>
              <button class="btn-rounded" type="submit" style="width:180px">Ingresar</button>
            </form>
          </div>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center text-center">
            <a href="index.php?c=index&m=RecuperarContrasena" class="forgot-password">
              ¿Olvidó la contraseña?
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MODAL -->

  <!-- END HEADER -->


  <!-- SECTION -->
  <section class="bg-light">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-12">
        <h1 class="display-4">Numero de Ficha</h1>
        <br>
        <style>
          .search {
            position:relative;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width:80px;
            height:80px;
            background:#fff;
            box-shadow:0 5px 20px rgba(0,0,0,.5);
            border-radius:4px;
            transition:width .5s;
            overflow:hidden;
        }
        .search.active {
            width:70%;
        }
        .search input {
            position:absolute;
            top:10px;
            left:10px;
            width:calc(100% - 90px);
            height:60px;
            border:none;
            outline:none;
            font-size:1.10rem;
            padding:0 10px;
            color:#666;
        }
        .search.active .icon {
            background:#ff355a;
        }
        .icon {
            position:absolute;
            top:10px;
            right:10px;
            width:60px;
            height:60px;
            cursor:pointer;
            transition:.5s;
            border-radius:4px;
        }
        .search.active .icon:before {
            content:'';
            position:absolute;
            top:7px;
            left:13px;
            width:18px;
            height:30px;
            background:transparent;
            border:none;
            border-right:2px solid #fff;
            border-radius:0;
            transition:.5%;
            transform:rotate(45deg);
        }
        .search.active .icon:after {
            content:'';
            position:absolute;
            top:20px;
            left:13px;
            width:18px;
            height:30px;
            background:transparent;
            border:none;
            border-right:2px solid #fff;
            border-radius:0;
            transition:.5%;
            transform:rotate(-45deg);
        }
        .icon:before {
            content:'';
            position:absolute;
            top:12px;
            left:12px;
            width:24px;
            height:24px;
            background:transparent;
            border:2px solid #262626;
            border-radius:50%;
            transition:.5%;
        }
        .icon:after {
            content:'';
            position:absolute;
            top:25px;
            left:35px;
            width:18px;
            height:18px;
            background:transparent;
            border-left:2px solid #262626;
            border-radius:0;
            transform:rotate(-45deg);
            transition:.5%;
        }
    </style>
        <script>
          $(document).ready(function(){
            $('.icon').click(function(){
                $('.search').toggleClass('active');
            });
        });
    </script>
        <div class="row">
          <div class="search">
            <input type="text" placeholder="Ingresa su numero de ficha para buscar horario asignado...">
            <div class="icon"></div>
          </div>
        </div>
      </div>
    </div>

    <style>
      #mysearch:focus + .input-group-addon {
	z-index: 10;
}

#search-btn:hover {
	cursor: pointer;
	/*color: gold;*/
	background-color: #ffc107;
}
    </style>
    <div class="container">
        <div class="row">
          <form class="form" >
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="padding-left: 20px; border-radius: 40px;" id="mysearch">
                <div class="input-group-addon" style="margin-left: -50px; z-index: 3; border-radius: 40px; background-color: transparent; border:none;">
                  <button class="btn btn-warning btn-sm" type="submit" style="border-radius: 20px;" id="search-btn"><i class="fa fa-search"></i></button>
                </div>
            </div>
          </form>
        </div>
      </div>
  </section>
  <!-- END SECTION -->

  <!-- FOOTER -->
  <footer style=" height: 100px; background-color: #EC7C38;">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-md-12">
        <p class="p-4" style="color: white">Copyright © MyWebsite. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->

</div>
<!-- END BODY -->

</body>

</html>