<?php
$result = $cmsDB->query("SELECT * FROM ".$cmsDB->prefix("departments")."");



echo "<br/><br/><table class='table table-bordered table-striped'>
<tr>
<th>Bil</th>
<th>Department</th>
<th>Staff</th>
</tr>";

$count =1 ;

while($row = $cmsDB->fetchArray($result))
{
$deptid=$row['deptid'];
$deptname=$row['deptname'];

echo "<t><td>".$count++."</td><td>".$deptname."</td><td>";

global $myDB;
$result2 = $myDB->query("SELECT * FROM ".$myDB->prefix("staff")." WHERE deptid=$deptid");

$rowSpan=$result2-num_rows;

echo "<tr>";
echo "<td rowspan=" . $rowSpan . ">" . $count++ . "</td>";
echo "<td rowspan=" . $rowSpan . ">".$deptname."</td>";

}


echo "</td></tr></table>";
?>

$rowSpan=$result2-num_rows;

echo "<tr>"
echo "<td rowspan=" . $rowSpan . ">" . $count++ . "</td>";
echo "<td rowspan=" . $rowSpan . ">".$deptname."</td>";
The second while loop must output

<td>$name</td></tr>


<table class='table table-bordered table-striped'>
    <thead>
        <th>Id Ruta</th>
        <th>Ruta Ficha</th>
        <th>Ficha</th>
        <th>Grupo</th>
        <th class="text-center">Actualizar</th>
    </thead>
    <tbody>
        <?php
            foreach ($data['rutaFichas'] as $rutaFicha):

                $fichas = $myDB->query("SELECT * FROM v_grupo_ficha WHERE num_ruta_ficha=$rutaFicha->num_ruta_ficha");
                $rowSpan=$fichas->rowCount();
            ?>
        <tr>
            <td rowspan="<?php echo $rowspan; ?>"><?php echo $rutaFicha->id_ruta_ficha; ?></td>
            <td rowspan="<?php echo $rowspan; ?>"><?php echo $rutaFicha->num_ruta_ficha; ?></td>
            <?php foreach ($fichas as $ficha) : ?>
            <div>
                <td><?php echo $ficha->num_ficha; ?></td>
                <td><?php echo $ficha->num_grupo; ?></td>
                <td class="text-center">
                    <div class="updateDataGrupoFicha" data-toggle="modal" data-target="#ActualizarGrupoFicha" id-Grupo="<?php echo $ficha->id_grupo ?>">
                        <i class="far fa-edit fa-lg"></i></div>
                </td>
            </div>
            <?php endforeach; ?>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>


